.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;

}

.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}